PORT=3000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/wifi-attendance?retryWrites=true&w=majority&appName=<AppName>
JWT_SECRET=your_super_secret_key_change_in_production
CLIENT_URL=https://your-frontend.onrender.com
